@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized>
        <div class="d-flex justify-center w-100">
            <MudButton OnClick="PerformLogout" Variant="Variant.Outlined" Color="Color.Error" Size="Size.Medium" StartIcon="@Icons.Material.Filled.Logout">
                Log Out
            </MudButton>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private void PerformLogout()
    {
        Navigation.NavigateTo("Account/Logout", forceLoad: true);
    }
}